.contact-container {
  background-color: $primary-blue-light;

  .title-container {
    background-color: $primary-blue;
    color: white;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 200px;

    .contact__paragraph {
      margin: 20px auto;
      max-width: 639px;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }

    .contact__mail {
      font-family: $font-secondary;
      font-size: 18px;
      padding: 15px 32px;
      border: 1px solid white;
      border-radius: 6px;
      width: 250px;
      display: block;
      margin: 0 auto;
    }
  }

  .contact-form {
    padding: 64px;
    background-color: white;
    margin: -100px auto 0 auto;
    box-shadow: 0px 0px 20px rgba(146, 156, 170, 0.3);
    border-radius: 4px;
    width: fit-content;

    img {
      margin: 0 auto 30px auto;
    }
  }
}
