.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: $primary-blue;
  color: white;



  .header-title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 42px;

    @media (max-width: $breakpoint-s-screen) {
      font-size: 38px;
    }
    @media (max-width: $breakpoint-tablet) {
      font-size: 30px;
    }
  }

  .header-location {
    align-self: center;
    span {
      opacity: 0.8;
    }
  }

  @media (max-width: 560px) {
    flex-direction: column;

    .header-location{
      width: fit-content;
      margin: 17px auto 0 0;
    }
  }
}
