.about-container {

  .gallery{
    padding: 200px 100px;

    @media (max-width: 670px) {
      padding: 100px 0 0 0;
    }
    
  .img-modal{
    object-position: center;
    max-height: 500px;

  }
    .carousel-arrow__l,
  .carousel-arrow__r {
    color: $primary-blue;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
  }

  .carousel-arrow__l {
    left: 0;
  }

  .carousel-arrow__r {
    right: 0;
  }

  .carousel.carousel-slider .control-arrow {
    background-color: white;
    color: $primary-blue;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.5s linear;
    z-index: 1;
    position: absolute;
    margin: 0 30px;

    &::before {
      content: url(../images/arrow.svg);
      line-height: 55px;
      filter: invert(36%) sepia(68%) saturate(1650%) hue-rotate(209deg)
        brightness(93%) contrast(102%);
      border: none;
    }

    &:hover {
      background-color: $primary-blue;
      color: white;
    }

    &:hover::before {
      filter: brightness(0) invert(1);
    }

    @media (max-width: $breakpoint-tablet) {
      background: none;
      transform: scale(1.3);

      &:before {
        filter: brightness(0) invert(1);
      }

      &:hover {
        filter: none;
        background: none;
        color: white;
      }
    }
  }

  .carousel.carousel-slider .control-prev {
    &::before {
      transform: scaleX(-1) translateX(20%);
    }
  }

  .carousel.carousel-slider .control-next {
    @media (min-width: $breakpoint-tablet) {
      margin-right: 60px;
    }

    @media (min-width: 860px) {
      margin-right: 100px;
    }

    @media (min-width: 1100px) {
      margin-right: 140px;
    }
  }

  .carousel.carousel-slider .control-prev {
    @media (min-width: $breakpoint-tablet) {
      margin-left: 60px;
    }

    @media (min-width: 860px) {
      margin-left: 100px;
    }

    @media (min-width: 1100px) {
      margin-left: 140px;
    }
  }
  }

  .modal{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    display: flex;
    justify-content: center;
    align-items: center;


    .exit{
        height: 40px;
        width: 40px;
        z-index: 10000;
        position: absolute;
        margin: 40px 40px 40px auto;
        top: 0;
        right:0;

        &:after{
          position: absolute;
          content: "";
          width: 100%;
          height: 4px;
          border-radius: 50px;
          background-color: $primary-blue;
          transform: rotate(45deg);
        }

        &:before{
          content:"";
          position: absolute;
          width: 100%;
          height: 4px;
          border-radius: 50px;
          background-color: $primary-blue;
          transform: rotate(-45deg);
        }
    }

    .img-modal{
      position: absolute;
      object-fit: contain;
      width: 95%;
      max-height: 95%;
      
    }

  }

  .about-item {
    display: flex;
    flex-direction: row;

    .about-item__l,
    .about-item__r {
      width: 50%;
    }

    @media (max-width: $breakpoint-l-screen) {
      flex-direction: column-reverse;

      &:nth-child(2n) {
        flex-direction: column;
      }

      .about-item__l,
      .about-item__r {
        width: 100%;
        min-height: 250px;
      }
    }

    &:last-child {
      margin-bottom: 57px;
    }

    .blue {
      background-color: $primary-blue;
    }

    .light-blue {
      background-color: $primary-blue-light;
    }

    .about-paragraph {
      span {
        color: $primary-blue;
      }
    }

    .about-title__welcome {
      margin: 17px 0;
    }

    &:first-child,
    &:nth-child(3) {
      .about-item__r {
        padding: 60px 20px;
        @media (min-width: $breakpoint-tablet) {
          padding-right: 60px;
          padding-left: 60px;
        }

        @media (min-width: $breakpoint-s-screen) {
          padding-right: 100px;
          padding-left: 100px;
        }

        @media (min-width: $breakpoint-l-screen) {
          padding-right: 160px;
        }

        @media (min-width: $breakpoint-xl-screen) {
          padding-right: 380px;
        }
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      .about-item__l {
        padding: 60px 20px;

        @media (min-width: $breakpoint-tablet) {
          padding-left: 60px;
          padding-right: 60px;
        }

        @media (min-width: $breakpoint-s-screen) {
          padding-right: 100px;
          padding-left: 100px;
        }

        @media (min-width: $breakpoint-l-screen) {
          padding-left: 160px;
        }

        @media (min-width: $breakpoint-xl-screen) {
          padding-left: 380px;
        }
      }
    }
  }
}
